* {
    margin: 0;
    font-family: 'Inter', sans-serif;

}
#logo {
    margin-left: 56px;
    margin-top: 52px;
}
#tituloMenuSuperior {
    margin-left: 172px;
    margin-top: 185px;
}
#textMenuSuperior {
    margin-left: 172px;
    margin-top: 32px;
    padding-bottom: 90px;
}
#menuSuperior {
    background-image: url(imagens/fundoMenuSuperior.SVG);
    color: #FFFFFF;
}
#menuInformacional {
    background: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;

}
.icone {
    margin: 67px 0px 68px 174px;
    padding: 19px;
    }
.textoInformativo {
    display: flex;
    align-items: center;
}
.textDepoimentos {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #383838;
}
.titleDepoimentos {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #247BA0;
    margin-top: 67px;
}
#depoimentos {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin-left: 15%;
    margin-right: 15%;
}
#video {
    margin: 67px 25px 68px 100px;
}
#carrossel {
    background-color: #247BA0;
    padding: 50px;
}
#tituloCarrossel {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: #EAECE5;
}
#divCards {
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
    margin-left: 15%;
    margin-right: 15%;
}
.card {
    margin-left: 50px;
}
#setaEsquerda {
    display: none;
}
#bru {
    display: none;
}
.seta {
    margin-top: 130%;
    cursor: pointer;
}
.seta:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}
#h1Form {
    font-size: 32px;
    color: #383838;
    margin: 20px;
}
#formulario {
    text-align: center;
}
#form {
}
button {
    background-color: #247BA0;
    line-height: 150%;
    color: #FFFFFF;
    border:0px;
    height: 45px;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 20px;
    cursor: pointer;

}
input {
    height: 45px;
    width: 413px;
    left: 0px;
    top: 0px;
    background: #EAECE5;
    border-radius: 8px;
    margin-top: 25px;
    border: 0px;
    padding-left: 10px;
}
button:hover {
    background-color:#419cc4;
    color: #FFFFFF;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px  #214069;
    transition-duration: 0.5s;
}